.container{
    position:relative;
    margin: 20px 0px;

    .input{
        border-bottom: 1px solid gray;
        height: 50px;
        width: 100%;
        &:focus{
            outline: none;
            box-shadow: none;
           ~.label{
               top: 0;
               opacity: 0.8;
           }
        }
    }

    .label{
        position: absolute;
        top: 70%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0.5;
        transition: 0.4s;
        z-index: -1;

        &.active{
            top: 0;
            opacity: 0.8;
        }
        }
    

}