.container{
    .title{
        text-transform: uppercase;
        cursor: pointer;
    }
    .listItem{
        display: flex;
    
        min-height: 350px;
   
       gap: 20px;
        flex-wrap: wrap;
    }
}